{% extends "pages/index.html" %}

{% block content %}

<h1>Détails du Document</h1>
<button type="button" class="btn btn-success">
    <a hcref="{{ url_for('data_mongo_db') }}">Retour</a>
</button>

<div class="card text-center">
    <div class="row">
        <div class="col-sm-6">

            <div class="card-header">Temperature: {{ document.temperature }}</div>
            <div class="card-header">Matrix: {{ document.matrix }}</div>
            <div class="card-header">Other Information: {{ document.other_information }}</div>
        </div>
        <div class="col-sm-6">

            <div class="card-body">
                <h5 class="card-title">Time Hours: {{ document.time_hours }}</h5>
                <h5 class="card-text">Time Mins: {{ document.time_mins }}</h5>
                <h5 class="card-text">Log Reduction: {{ document.log_reduction }}</h5>
                <h5 class="card-text">Starting Value: {{ document.starting_value }}</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

    </div>
</div>

{% endblock %}
