{% extends "pages/index.html" %}

{% block content %}
<style>
    #doughnutChart {
        width: 300px;
        height: 300px;
    }
</style>

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-warning">
                    <span class="material-icons">equalizer</span>
                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Villes Visités</strong></p>
                <h3 class="card-title">70</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-info">info</i>
                    <a href="#pablo">Voir rapport détaillé</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-rose">
                    <span class="material-icons">account_circle</span>

                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Orders</strong></p>
                <h3 class="card-title">102</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">local_offer</i> Product-wise sales
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-success">
                    <span class="material-icons">
                        cloud
                    </span>

                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>zones</strong></p>
                <h3 class="card-title">23</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Weekly sales
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header">
                <div class="icon icon-info">

                    <span class="material-icons">
                        follow_the_signs
                    </span>
                </div>
            </div>
            <div class="card-content">
                <p class="category"><strong>Femmes enceintes</strong></p>
                <h3 class="card-title">+245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i> Collectés
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-lg-7 col-md-12">
        <div class="card" style="min-height: 485px">
            <div class="card-header card-header-text">
                <h4 class="card-title">Suivis Statisques des evennements</h4>
                <p class="category">New employees on 15th December, 2016</p>
            </div>
            <div class="card-content table-responsive">
               
                <div class="card-content table-responsive">
                    <canvas id="lineChart"></canvas>
                    <hr>
                </div>
                
            </div>
        </div>
        {% if current_user.role.id ==2 or current_user.role.id ==3 %}
        <div class="card" style="min-height: 485px">
            <canvas id="barChart"></canvas>
        </div>
        {% endif %}
    </div>

    <div class="col-lg-5 col-md-12">
        {% if current_user.role.id ==2 or current_user.role.id ==3 %}
        <div class="card" style="min-height: 485px">
            <div class="card-header card-header-text">
                <h4 class="card-title">Les Symptômes les plus fréquents</h4>
            </div>
            <div class="card-content">
                <div class="streamline">
                   <!--  {% for patient in patients %}
                    <div class="sl-item  {% if patient.symptoms|length > 50 %}sl-danger {% elif patient.symptoms|length > 30 %}sl-warning {% elif patient.meat_consumption == 'Oui' %}sl-primary {% else %}sl-success{% endif %}">>
                        <div class="sl-content">
                            
                            <small class="text-muted">5 mins ago</small>
                            <p>Williams has just joined Project X</p>
                        </div>
                    </div>
                    {% endfor %} -->
                   <div class="sl-item sl-danger">
                        <div class="sl-content">
                            <small class="text-muted">25 mins ago</small>
                            <p>Jane has sent a request for access to the project folder</p>
                        </div>
                    </div>
                    <div class="sl-item sl-success">
                        <div class="sl-content">
                            <small class="text-muted">40 mins ago</small>
                            <p>Kate added you to her team</p>
                        </div>
                    </div>
                    <div class="sl-item">
                        <div class="sl-content">
                            <small class="text-muted">45 minutes ago</small>
                            <p>John has finished his task</p>
                        </div>
                    </div>
                    <div class="sl-item sl-warning">
                        <div class="sl-content">
                            <small class="text-muted">55 mins ago</small>
                            <p>Jim shared a folder with you</p>
                        </div>
                    </div>
                    <div class="sl-item">
                        <div class="sl-content">
                            <small class="text-muted">60 minutes ago</small>
                            <p>John has finished his task</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="card" style="min-height: 485px"> 
            
            <div class="card-content table-responsive" width="50" height="50">
                <canvas id="doughnutChart" width="100" height="100"></canvas>
            </div>
        </div>
        {% elif current_user.role.id == 1 %}
        <div class="card" style="min-height: 485px"> 
            
            <div class="card-content table-responsive" width="50" height="50">
                <canvas id="doughnutChart" width="100" height="100"></canvas>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Line Chart
    const lineChartCtx = document.getElementById('lineChart').getContext('2d');
    const lineChart = new Chart(lineChartCtx, {
        type: 'line',
        data: {
            labels: {{ geno | tojson }},
            datasets: [{
                label: 'Genotype',
                data: {{ tmes | tojson }},
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
                fill: false
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: false // Désactiver la légende
                }
            }
        }
    });

    // Bar Chart
    const barChartCtx = document.getElementById('barChart').getContext('2d');
    const barChart = new Chart(barChartCtx, {
        type: 'bar',
        data: {
            labels: {{ genotype | tojson }},
            datasets: [{
                label: 'Température d\'evolution',
                data: {{ tmes | tojson }},
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: false // Désactiver la légende
                }
            }
        }
    });

    // Doughnut Chart
    const doughnutChartCtx = document.getElementById('doughnutChart').getContext('2d');
    const doughnutChart = new Chart(doughnutChartCtx, {
        type: 'doughnut',
        data: {
            labels: {{ genos | tojson }},
            datasets: [{
                label: 'Salarie',
                data: {{ genotype | tojson }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            cutout: '40%',
            plugins: {
                legend: {
                    display: false // Désactiver la légende
                }
            }
        }
    });
</script>


{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <nav class="d-flex">
                    <ul class="m-0 p-0">
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('data') }}">
                                Api
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Importer
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('accueil') }}">
                                Table
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
            <div class="col-md-6">
                <p class="copyright d-flex justify-content-end"> &copy 2023 Design by 
                    <a href="#"> <span>- Babacar(771007695) - </span></a> Tout droit reservé
                </p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}