<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <title>Home
    </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <!----css3---->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}">
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <div class="wrapper">

        <div class="body-overlay"></div>

        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><img src="{{ url_for('static',filename='img/LOGO.ico') }}" width="100%" height="200^x" class="img-fluid" />
                    <span>PREVENT/VHE({{ current_user.role.nom }})</span></h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="{{ url_for('dashboard') }}" class="dashboard"> <i class="material-icons">equalizer</i><span>Dashboard</span></a>
                </li>

                <div class="small-screen navbar-display">
                    <li class="dropdown d-lg-none d-md-block d-xl-none d-sm-block">
                        <a href="#homeSubmenu0" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="material-icons">notifications</i><span> 4 notification</span></a>
                        <ul class="collapse list-unstyled menu" id="homeSubmenu0">
                            <li>
                                <a href="#">Vous avez recu un :::::hello</a>
                            </li>
                            <li>
                                <a href="#">Les valeurs augmentent ::::</a>
                            </li>
                            <li>
                                <a href="#">Felicitation !!!</a>
                            </li>
                            <li>
                                <a href="#">Mauvaise nouvelle ..</a>
                            </li>
                        </ul>
                    </li>

                    <li class="d-lg-none d-md-block d-xl-none d-sm-block">
                        <a href="#"><i class="material-icons">apps</i><span>apps</span></a>
                    </li>

                    <li class="d-lg-none d-md-block d-xl-none d-sm-block">
                        <a href="#"><i class="material-icons">person</i><span>user</span></a>
                    </li>

                    <li class="d-lg-none d-md-block d-xl-none d-sm-block">
                        <a href="#"><i class="material-icons">settings</i><span>setting</span></a>
                    </li>
                </div>
                {% if current_user.role.id ==2 or current_user.role.id ==3 %}
                <li class=""> 
                    <a href="{{ url_for('accueil') }}"><i class="material-icons">table_chart</i><span>Patients</span>
                    </a>
                </li>
                {% endif %}
                <li class="">
                    <a href="{{ url_for('medecin') }}" >
                        <i class="material-icons">dashboard</i>

                        <span>Voir Medecin</span></a>
                </li>
                {% if current_user.role.id ==2 or current_user.role.id ==3 %}
                <li class="">
                    <a href="{{ url_for('data_mongo_db') }}">
                        <i class="material-icons">extension</i><span>Données</span></a>
                </li>
                {% endif %}

                <li class="dropdown">
                    <a href="#">
                        <i class="material-icons">border_color</i><span>Profil</span></a>

                </li>

                <li class="dropdown">
                    <a href="#">
                        <i class="material-icons">grid_on</i><span>Predire</span></a>
                    
                </li>
                {% if current_user.role.id ==1 %}
                <li class="dropdown">
                    <a href="{{ url_for('view_patient') }}">
                        <i class="material-icons">content_copy</i><span>Consulter le test</span>
                    </a>
                </li>
                {% endif %}
                <!-- <li class="">
                    <a href="#"><i class="material-icons">date_range</i><span>copy</span></a>
                </li> -->

                <li class="">
                    <a href="{{ url_for('logout') }}"><i class="material-icons">power_settings_new</i><span>Logout</span></a>
                </li>

            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">

            <div class="top-navbar" >
                <nav class="navbar navbar-expand-lg" style="background: rgb(24, 230, 86);">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="d-xl-block d-lg-block d-md-mone d-none">
                            <span class="material-icons">arrow_back_ios</span>
                        </button>

                        <a class="navbar-brand" href="#"> PREV-VHE </a>

                        <button class="d-inline-block d-lg-none ml-auto more-button" type="button"
                            data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="material-icons">more_vert</span>
                        </button>

                        <div class="collapse navbar-collapse d-lg-block d-xl-block d-sm-none d-md-none d-none"
                            id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="dropdown nav-item active">
                                    <a href="#" class="nav-link" data-toggle="dropdown">
                                        <span class="material-icons">notifications</span>
                                        <span class="notification" title="Les messages reçus">4</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Vous avez recu un msg :::::</a>
                                        </li>
                                        <li>
                                            <a href="#">Les valeurs augmentent ::::</a>
                                        </li>
                                        <li>
                                            <a href="#">Felicitation !!!</a>
                                        </li>
                                        <li>
                                            <a href="#">Mauvaise nouvelle ..</a>
                                        </li>

                                    </ul>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span class="material-icons">apps</span>
                                    </a>
                                </li> -->
                                {% if current_user.role.id ==2 or current_user.role.id ==3 %}
                                    {% if current_user.role.id ==3 %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"  data-toggle="modal" data-target="#addUserModal">
                                        <span class="material-icons" title="Ajouter un user">add</span>
                                        </a>
                                        
                                    </li>
                                    
                                    {% endif %}
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-toggle="modal" data-target="#uploadDataModal">
                                      <span class="material-icons" title="Charger les données">upload</span>
                                    </a>
                                    
                                </li>
                                {% endif %}
                                  
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('user')}}">
                                        <span class="material-icons">person</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- Modal pour ajouter les user -->
            <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addUserModalLabel">Ajouter un utilisateur</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <div class="alert-container">
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }}" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}
                            <form action="{{ url_for('inscrire') }}" method="POST" class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="prenom">Prénom</label>
                                        <input type="text" id="prenom" name="prenom" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="nom">Nom</label>
                                        <input type="text" id="nom" name="nom" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" name="email" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="tel">N° Tel</label>
                                        <input type="tel" id="tel" name="tel" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="password">Mot de passe</label>
                                        <input type="password" id="password" name="password" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="confirm_password">Confirmer MDP</label>
                                        <input type="password" id="confirm_password" name="confirm_password" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="role">Rôle</label>
                                        <select id="role" name="role" class="form-control" required>
                                            <option value="user">Patient</option>
                                            <option value="medecin">Médecin</option>
                                            <option value="chercheur">Chercheur</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="region">Région</label>
                                        <select id="region" name="region" class="form-control" required>
                                            <option value="1">Dakar</option>
                                            <option value="2">Diourbel</option>
                                            <option value="3">Fatick</option>
                                            <option value="4">Kaffrine</option>
                                            <option value="5">Kaolack</option>
                                            <option value="6">Kédougou</option>
                                            <option value="7">Kolda</option>
                                            <option value="8">Louga</option>
                                            <option value="9">Matam</option>
                                            <option value="10">Saint-Louis</option>
                                            <option value="11">Sédhiou</option>
                                            <option value="12">Tambacounda</option>
                                            <option value="13">Thiès</option>
                                            <option value="14">Ziguinchor</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-success">Ajouter un utilisateur</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal pour charger les données -->
            <div class="modal fade" id="uploadDataModal" tabindex="-1" aria-labelledby="uploadDataModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadDataModalLabel">Charger les données</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Formulaire pour charger les données -->
                            <form action="{{ url_for('upload_file') }}" id="uploadDataForm" action="/upload" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="file" class="form-control" id="file" name="file" required>
                                </div>
                                <button type="submit" class="btn btn-success">Charger</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
             
  
            <div class="main-content">
                
                {% block content %}{% endblock %}

                {% block footer %}{% endblock %}
                
            </div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static',filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });
            $('.more-button,.body-overlay').on('click', function() {
                $('#sidebar,.body-overlay').toggleClass('show-nav');
            });
        });
    </script>

</body>

</html>